* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    width: 100%;
    height: 100vh;
    background: #8e9eab;
    background: -webkit-linear-gradient(45deg, #eef2f3, #8e9eab);
    background: linear-gradient(45deg, #eef2f3, #8e9eab);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    display: flex;
    flex-direction: column;
    width: 30em;
    background: #f1f1f1;
    height: auto;
    border-radius: 1rem;
    border: 1px solid #BDBDBD;
    padding: 1em;
    box-shadow: 0.015em 0.125em 3.0em rgba(0, 0, 0, 0.2);
}

.password span {
    width: 100%;
    font-size: medium;
    text-align: left;
    color: #4d1e57;
    line-height: 3em;
}

#rnd_field {
    width: 100%;
    display: block;
    border-radius: .25em;
    border: 0;
    min-height: 4em;
    padding-left: 1.5em;
    font-size: 1em;
    cursor: pointer;
}

#rnd_field::placeholder {
    color: #E0E0E0;
    transition: all 250ms ease-in-out;
}

#rnd_field:hover::placeholder {
    color: #9E9E9E;
}

#rnd_password {
    border: 0;
    width: 50%;
    margin-top: 1em;
    min-height: 3em;
    border-radius: .25rem;
    cursor: pointer;
    background: #9e60ad;
    color: #fff;
}

.messages {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#rnd_message {
    display: block;
    color: rgb(182, 107, 176);
    font-size: small;
    transform: translateX(25px);
    opacity: 0;
    transition: all 250ms ease-in-out;
}